*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #59429d;
    min-height: 100vh;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7954eb;
    display: block;
    justify-content: space-between;
    justify-content: center;
    margin-left: 32%;
    text-shadow: 2px 1px grey;
    font-size: 25px;
}

.container{
    background-image: url(./imagens/hand-painted-watercolor-background-with-sky-and-clouds-shape.jpg);
    border-radius: 5px;
    border: 5px solid;
    width: 450px;
    max-width: 100%;
}

.header {
    padding: 10px 30px;
    padding-bottom: 30px;
}

input, textarea, button{
    border-radius: 15px;
    line-height: 20px;
    resize: none;
}

.cadastro{
    margin-left: 3%;
}

.formulario textarea{
    padding: 50px;
}

.formulario{
    margin-bottom: 20px;
}

.formulario label{
    margin-bottom: 0,2em;
    color: #59429d;
    display: block;
}

.formulario input[type="text"], .formulario input[type="email"], .formulario input[type="tel"], .formulario textarea {
    padding: 10px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
    left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 350px;
}

.formulario input:focus, .formulario textarea:focus{
    background: #E0E0F8;
}

.campo input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;
    display: block;
    font-size: 12px;
    width: 45%;
    padding: 15px;
}

select {
    border: 2px solid #59429d;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 12%;
    padding: 1px;
}

.campo.sucesso input {
    border: 3px solid #4ECA64;
}

.campo.erro span {
    border: 3px solid #DB5A5A;
}

.campo.erro i .img-erro {
    visibility: visible;
}

.campo.sucesso i .img-sucesso {
    visibility: visible;
}

.campo.erro small{
    color: #DB5A5A;
    visibility: visible;
}

.campo i {
    top: 44px;
    right: 9px;
    visibility: hidden;
}

.campo small {
    visibility: hidden;
    color: red;
    text-shadow: 1px 1px grey;
    position: relative;
    left: 35px;
    margin-top: 4px;
    font-size: 12px;
}

.form button {
    background-color: #6C63FF;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
    font-size: 15px;
    width: 18%;
    cursor: pointer;
}

button {
    font-size: 2em;
    background: #59429d;
    border: 0;
    color: #ffffff;
    padding: 0.5em 7em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 89%;
    left: 46%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

form {
    margin-top: 30px;
}








